<header th:fragment="header">
    <div class="company-logo">SoftBuy</div>


    <form class="search-form" th:action="@{/products/search}" method="GET">
        <input type="search" name="keyword" size="50" class="search-bar" placeholder="Name of product.." required/>
        &nbsp;
        <input type="submit" value="Search" class="cart-btn"/>
    </form>


    <nav class="navbar">
        <ul th:if="${@loggedUser.id == null}" class="nav-items">
            <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="/products" class="nav-link">PRODUCTS</a></li>
            <li class="nav-item"><a href="/learning" class="nav-link">E-LEARNING</a></li>
            <li class="nav-item"><a href="/user/register" class="nav-link">SIGN UP</a></li>
        </ul>
        <ul th:unless="${@loggedUser.id == null}" class="nav-items">
            <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="/products" class="nav-link">PRODUCTS</a></li>
            <li class="nav-item"><a href="/learning" class="nav-link">E-LEARNING</a></li>
            <li class="nav-item"><a href="/cart" class="nav-link">MY CART</a></li>
            <form method="POST" th:action="@{/user/logout}" class="nav-link">
                <button type="submit" name="nav-link" class="nav-link">SIGN OUT</button>
            </form>
        </ul>
    </nav>
    <div class="menu-toggle">
        <i class="bx bx-menu"></i>
        <i class="bx bx-x"></i>
    </div>
</header>