<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" type="text/css" href="/css/myCart.css"/>
</head>
<body>
<header>
    <div class="company-logo">Delete product</div>
    <ul class="nav-items">
        <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="/products" class="nav-link">PRODUCTS</a></li>
        <form method="POST" th:action="@{/user/logout}" class="nav-link">
            <button type="submit" name="nav-link" class="nav-link">SIGN OUT</button>
        </form>
    </ul>
</header>

<div class="form">
    <form th:method="DELETE" th:action="@{/products/delete}">
        <h1>Product details</h1>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="name" placeholder="Product's name" required>
        </div>
        <div class="input-box">
            <input type="submit" name="delete a product" value="Delete a product">
        </div>
    </form>
</div>

</body>
</html>